
  body {max-width: 1200px;
  margin: auto;
  background: #FFFFFF;
  padding: 10px;
}
 
img {
    width:  500px;
    height: 500px;
    object-fit: cover;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

table, th, td {
  border: 1px solid black;
  background-color: grey;
  margin-left:auto;
  margin-right:auto;
}

th, td {
  padding: 10px;
}

table.center {
  margin-left: auto;
  margin-right: auto;
}

  h1 {text-align: center;
     margin-left: auto;
     margin-right: auto;
     color:#000000;
}           

  h2 {text-align: center;
     margin-left: auto;
     margin-right: auto;
     color:#000000}     


  p {text-align: center;
     margin-left: auto;
     margin-right: auto;
     color:#000000;
     font-size:14px;
     }

form {text-align: center;
  margin-left: auto;
  margin-right: auto;
}
 
header {
  background:#FFFFFF;
  color:#6200EE;
  padding-top:30px;
  padding-bottom:20px;  
  min-height:70px;
  }

header a{
  color:#03DAC6;
  text-decoration:none;
  text-transform: uppercase;
  font-size:20px;
  }

header li {float:left;
  display:inline;
  padding: 0 20px 0 20px;
  }

header #branding {
  float:left;
  }

header #branding h1 {  
       margin:0;
       }

header nav {
  float:right;
  margin-top:10px;
  padding-bottom: 10px;
  }

header .highlight, header .current a {
  color:#000000;
  font-weight:bold;
   }

header hover {
  color:#018786;
  font-weight:bold;
   }




